<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../js/easyui1.5/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../js/easyui1.5/locale/easyui-lang-zh_CN.js"></script>

    <link rel="stylesheet" href="../js/easyui1.5/themes/default/easyui.css"></link>
    <link rel="stylesheet" href="../js/easyui1.5/themes/icon.css"></link>
    <script type="text/javascript" src="../js/EasyuiCRUD.js"></script>

    <!-- 引入上传文件 插件 -->
    <script type="text/javascript" src="../js/uploadify/jquery.uploadify.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../js/uploadify/uploadify.css" />


</head>

<body style="visibility:hidden;">
<div id="ToolBar">


</div>
<!--表头-->
<table id="data" title="" class="easyui-datagrid" ToolBar="#ToolBar"></table>
<!-- 弹框 -->
<div id="myDialog" class="easyui-dialog" style="width:500px;height:300px;" buttons="#AddOk" closed="true">
    <form id="myform" method="post">

    </form>


</div>
<div id="AddOk">


    <a href="javaScript:addDialog()" class="easyui-linkbutton" data-options="iconCls:'icon-ok'">提交</a>

</div>


</body>
<script type="text/javascript">
    $(function () {
        // 先将body隐藏，再显示，不会出现页面刷新效果
        $("body").css({visibility: "visible"});
        $("#data").datagrid({
            //路径
            url: "../shop/queryRecycle",
            type: "post",
            columns: [
                [
                    {field: 'cb', checkbox: true},
                    {field: 'id', title: 'ID', width: 100},
                    {field: 'shopname', title: '商品名称', width: 100},
                    {field: 'shopmanifest', title: '订单号', width: 100},
                    {field: 'shopprice', title: '商品价格', width: 100},
                    {field:'abc',title:'操作',formatter:function(value,row,index){

                            return '<a href="JavaScript:updatebyidz('+row.id+')">还原</a> |<a href="JavaScript:delById('+row.tar+')">删除</a>';
                        }
                    },


                ]
            ],
            //分页
            pagination: true,
            //设置的每页条数
            pageList: [1, 2, 5, 10],
            //显示行号
            rownumbers: true,
            //自动填充父容器大小
            //fit:true,
            //真正的自动展开/收缩列的大小，以适应网格的宽度，防止水平滚动。
            fitColumns: true,
            /* toolbar:[
                {
                    iconCls:'icon-mini-regfresh',
                    handler:function(){

                        alert("www");
                    }

                }

            ] */
        })

    })

    //条件查询
    function  querymocha(){

        //条查
        alert($("#mc").val());

        $("#data").datagrid('load',{
            shapi:$("#mc").val(),

        })
    }

    //新增
    function addDialog() {
        //submit 提交方法
        $('#myform').form('submit', {
            url: '../shop/addShop',
            //在提交之前触发，返回false可以终止提交
            onSubmit: function () {
                //对表单校验 validate
                return $("#myform").form('validate');
            },
            success: function (data) {
                alert("成功！！");
                //关闭当前窗口
                $("#myDialog").dialog('close');
                //刷新表格数据
                $("#data").datagrid('reload');

            }
        });


    }

    function editDialog() {

        //获取数据  返回所有被选中的行 getSelections
        var rows = $("#data").datagrid('getSelections');
        //先判断是否选中一行数据
        if (1 != rows.length) {
            //弹出框
            $.messager.alert('警告', '请选择一条且只能选择一条数据');
            return;
        }

        //获取到一条已选择的数据
        var row1 = rows[0];
        //打开页面
        $("#myDialog").dialog('open').dialog('setTitle', '添加数据');
        //把数据加载到form表单中显示
        $("#myform").form('load', row1);

    }

    //删除
    function delById() {
        //获取到选中的id  返回的是数组
        var rows = $("#data").datagrid('getSelections');
        if (0 == rows.length) {
            $.messager.alert("系统提示", "请选择要作废的商品");
            return;
        }
        //定义一个数组
        var Arr = [];
        //for循环得到每一个选中的id
        for (var i = 0; i < rows.length; i++) {
            //把得到的id 放入数组中 123
            Arr.push(rows[i].id);
        }
        //1，2，3
        var ids = Arr.join(",");
        //$.post("ss","确定删除吗",function(){},type(json))
        $.messager.confirm("系统提示", "你确定要作废<font color=red> " + rows.length + " </font>条商品吗?",
            function (xo) {
                if (xo) {
                    $("#data").datagrid('reload');

                    //$.post("url",参数,函数)
                    $.post("../shop/deletebyid", {ids: ids}, function (result) {
                        if (result.success) {
                            //$.messager.alert("系统提示", "你已成功作废 <font color=green> " + result.DeleteCounts + " </font>条数据!~");
                            $("#data").datagrid('reload');
                        } else {
                            $.messager.alert("系统提示", "<font color=red>作废失败</font>");
                        }
                    }, "json");
                }
            });
    }

    $(function () {

        querytypeid();
        queryquality();
    })

    querytypeid=function () {

        $.ajax({
            url:"../shop/querytypeid",
            type:"post",

            success:function (data) {
                var op="<option value='0'>-请选择-</option>";

                for (var i =0;i<data.length;i++){
                    op+="<option value='"+data[i].id+"'>"+data[i].typename+"</option>";

                }
                $("#xl").html(op);

            }

        })

    }

    queryquality=function () {

        $.ajax({
            url:"../shop/queryquality",
            type:"post",

            success:function (data) {
                var op="<option value='0'>-请选择-</option>";

                for (var i =0;i<data.length;i++){
                    op+="<option value='"+data[i].id+"'>"+data[i].labelname+"</option>";

                }
                $("#xlpz").html(op);
            }
        })
    }

     function updatebyidz(id) {
         $.ajax({
             url:"../shop/updatebyidz",
             type:"post",
             data:{id:id},
             success:function (data) {
                 $("#data").datagrid('reload');
             }
         })



     }

</script>


</html>